@model TiendaProductos.Models.Dto.RegistrationRequestDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1">Registro :D</h4>
                                </div>

                                <form asp-action="Register" class="needs-validation" novalidate>
                                    <p>Crea una cuenta para utilizar TiendaProductos</p>

                                    <div class="form-group">
                                        <div class="form-outline mb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" style="background-color: #F3E9D2; border-color: #F3E9D2;"><i class="fas fa-envelope text-black"></i></span>
                                                <input type="email" id="form2Example11" class="form-control"
                                                       placeholder="Correo electrónico" asp-for="Email" required>
                                                <label class="form-label" for="form2Example11"></label>
                                            </div>
                                            <div class="invalid-feedback" id="emailError">
                                                Correo Electrónico Requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-outline mb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" style="background-color: #F3E9D2; border-color: #F3E9D2;"><i class="fas fa-user text-black"></i></span>
                                                <input type="text" id="form2Example22" class="form-control"
                                                       placeholder="Nombre" asp-for="Name" required>
                                                <label class="form-label" for="form2Example22"></label>
                                            </div>
                                            <div class="invalid-feedback" id="nameError">
                                                Nombre Requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-outline mb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" style="background-color: #F3E9D2; border-color: #F3E9D2;"><i class="fas fa-phone text-black"></i></span>
                                                <input type="text" id="form2Example33" class="form-control"
                                                       placeholder="Teléfono" asp-for="PhoneNumber" required>
                                                <label class="form-label" for="form2Example33"></label>
                                            </div>
                                            <div class="invalid-feedback" id="phoneError">
                                                Teléfono Requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-outline mb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" style="background-color: #F3E9D2; border-color: #F3E9D2;"><i class="fas fa-lock text-black"></i></span>
                                                <input type="password" id="form2Example44" class="form-control"
                                                       placeholder="Contraseña" asp-for="Password" required>
                                                <label class="form-label" for="form2Example44"></label>
                                                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                            <div class="invalid-feedback" id="passwordError">
                                                Contraseña Requerida
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-outline mb-4">
                                            <div class="input-group">
                                                <span class="input-group-text" style="background-color: #F3E9D2; border-color: #F3E9D2;"><i class="fas fa-users text-black"></i></span>
                                                <input type="text" id="form2Example55" class="form-control"
                                                       placeholder="Rol" asp-for="Role" required>
                                                <label class="form-label" for="form2Example55"></label>
                                            </div>
                                            <div class="invalid-feedback" id="roleError">
                                                Rol Requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg mb-3" type="submit" onclick="validateForm(event)">
                                            <span><i class="fas fa-user-plus text-white"></i></span>
                                            Registrarse
                                        </button>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">¿Ya tienes una cuenta?</p>
                                        <a type="button" class="btn btn-primary btn-block fa-lg mb-3" asp-area="" asp-controller="Auth" asp-action="Login">
                                            <span><i class="fas fa-sign-in-alt"></i></span>
                                            Iniciar sesión
                                        </a>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Bienvenido :D</h4>
                                <p class="small mb-0">
                                    Regístrate para acceder a la tienda de productos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        // Agregar validación personalizada
        (function () {
            'use strict';

            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        })();

        // Mostrar mensaje de SweetAlert en caso de error
        @if (ViewData["ErrorMessage"] != null)
        {
            var errorMessage = ViewData["ErrorMessage"].ToString();
            <text>
                swal.fire({
                    icon: 'error',
                    title: '¡Ups...',
                    text: '@errorMessage',
                });
            </text>
        }

            // Función para mostrar/ocultar la contraseña
            function togglePasswordVisibility() {
                var passwordInput = document.getElementById("form2Example44");
                var passwordVisibilityButton = document.querySelector(".btn-outline-secondary i");

                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    passwordVisibilityButton.classList.remove("fa-eye");
                    passwordVisibilityButton.classList.add("fa-eye-slash");
                } else {
                    passwordInput.type = "password";
                    passwordVisibilityButton.classList.remove("fa-eye-slash");
                    passwordVisibilityButton.classList.add("fa-eye");
                }
            }

        // Función para validar el formulario antes de enviarlo
        function validateForm(event) {
            var form = document.querySelector('.needs-validation');
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
                displayErrorMessages();
            }
        }

        // Función para mostrar los mensajes de error debajo de los campos de entrada
        function displayErrorMessages() {
            var emailInput = document.getElementById("form2Example11");
            var nameInput = document.getElementById("form2Example22");
            var phoneInput = document.getElementById("form2Example33");
            var passwordInput = document.getElementById("form2Example44");
            var roleInput = document.getElementById("form2Example55");
            var emailError = document.getElementById("emailError");
            var nameError = document.getElementById("nameError");
            var phoneError = document.getElementById("phoneError");
            var passwordError = document.getElementById("passwordError");
            var roleError = document.getElementById("roleError");

            if (!emailInput.validity.valid) {
                emailError.style.display = "block";
            } else {
                emailError.style.display = "none";
            }

            if (!nameInput.validity.valid) {
                nameError.style.display = "block";
            } else {
                nameError.style.display = "none";
            }

            if (!phoneInput.validity.valid) {
                phoneError.style.display = "block";
            } else {
                phoneError.style.display = "none";
            }

            if (!passwordInput.validity.valid) {
                passwordError.style.display = "block";
            } else {
                passwordError.style.display = "none";
            }

            if (!roleInput.validity.valid) {
                roleError.style.display = "block";
            } else {
                roleError.style.display = "none";
            }
        }
    </script>
}
