@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-white py-5" style="background-color: #1A936F;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Welcome to TiendaProductos</h1>
            <p class="lead">Discover a World of High-Quality Products from Trusted Suppliers.</p>
            <a href="#about" class="btn btn-light btn-lg mt-3"> <i class="fa-solid fa-people-group" style="color: #1A936F"></i> Learn More</a>
        </div>
    </div>
</div>

<div id="about" class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Somos una plataforma para listar productos de ciertos proveedores</p>
        </div>
        <div class="col-md-6">
            <img src="https://img.freepik.com/vector-premium/productos-alimenticios-productos-cocina-envasados-productos-supermercado-comida-enlatada-tarro-galletas-crema-batida-huevos-paquete-iconos-flat_102902-848.jpg?w=2000" alt="About Us" class="img-fluid rounded">
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">Our Trusted Suppliers</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://turbologo.com/articles/wp-content/uploads/2019/07/samsung-logo-1993.jpg" alt="Supplier" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Samsung Electronics Co., Ltd.</h5>
                    <p class="card-text">Samsung es un conglomerado de empresas multinacionales con sede en Seúl, Corea del Sur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://myleanacademy.com/wp-content/uploads/2020/01/logo-ibm-png-ibm-logo-png-4464.png" alt="Supplier" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">IBM Corporation</h5>
                    <p class="card-text">IBM es una empresa tecnológica multinacional estadounidense con sede en Armonk, Nueva York. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://blogs.microsoft.com/wp-content/uploads/prod/2012/08/8867.Microsoft_5F00_Logo_2D00_for_2D00_screen.jpg" alt="Supplier" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Microsoft Corporation</h5>
                    <p class="card-text">Microsoft Corporation es una empresa tecnológica multinacional estadounidense que produce software de computadora, productos electrónicos de consumo, computadoras personales y servicios relacionados</p>
                </div>
            </div>
        </div>
    </div>
</div>

